//colors
$appBackground: rgb(248, 248, 248);
$gray: rgb(150, 150, 150);
$lightGray: rgb(234, 234, 234);
$darkGray: rgb(50, 50, 50);
$blue: rgb(82, 177, 230);
$white: #ffffff;

//fonts
$fontStack: Helvetica, Arial, sans-serif;

//else
$rowHeight: 40px;